@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

@layer base {
  :root {
    --font-geist-sans: 'Geist Sans', sans-serif;
    --font-geist-mono: 'Geist Mono', monospace;
    --font-montserrat: 'Montserrat', sans-serif;
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221 83% 53%;
    --chart-1: 221 83% 53%;
    --chart-2: 142 76% 36%;
    --chart-3: 31 97% 59%;
    --chart-4: 291 64% 42%;
    --chart-5: 199 89% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 19% 27%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 19% 27%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217 19% 27%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 224 76% 48%;
    --chart-1: 217 91% 60%;
    --chart-2: 142 76% 46%;
    --chart-3: 31 97% 69%;
    --chart-4: 291 64% 52%;
    --chart-5: 199 89% 58%;
    --gradient-start: #4caf50; /* Bright Green */
    --gradient-end: #a4d65e; /* Lime Green */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-br from-[#03F804] to-[#4CAF50] bg-clip-text text-transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-gradient {
    @apply bg-gradient-to-br from-[#03F804] to-[#4CAF50] transition-all duration-300;
  }
  .hover-gradient {
    @apply from-[#4CAF50] to-[#03F804];
  }

  .hero-textgradient {
    @apply bg-gradient-to-br from-[#03F804] to-[#FFEA00] bg-clip-text text-transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),
      /* Soft top shadow */ 1px 2px 4px rgba(0, 0, 0, 0.4),
      /* Slightly offset shadow */ 2px 4px 8px rgba(0, 0, 0, 0.2); /* Broader, lighter shadow */
  }

  /* Alternative with more depth */
  .text-shadow-strong {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 1px 2px 6px rgba(0, 0, 0, 0.4),
      2px 4px 12px rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (max-width: 639px) {
  html,
  body {
    overflow-x: hidden;
    width: 100vw;
    position: relative;
    touch-action: pan-y;
  }
  body {
    max-width: 100vw;
  }
  * {
    max-width: 100vw;
    box-sizing: border-box;
  }

  .streetcard {
    width: 100%;
    max-width: 438px;
    height: 120px;
    background: #353535;
    transform-style: preserve-3d;
    transform: perspective(30rem) rotateX(30deg);
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .streetcard::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(
      90deg,
      #fff 0%,
      #fff 70%,
      #353535 70%,
      #353535 100%
    );
    background-size: 120px;
    animation: animateRoad 1s linear infinite;
  }
  @keyframes animateRoad {
    0% {
      background-position: 0px;
    }
    100% {
      background-position: 120px;
    }
  }

  .streetcard::after {
    content: '';
    width: 100%;
    max-width: 438px;
    height: 20px;
    position: absolute;
    bottom: -20px;
    background-color: #272727;
    transform-origin: top;
    transform: perspective(30rem) rotateX(-30deg);
    box-shadow: 0 10px 20px -2px #272727;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .streetshadow {
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
  }
}



.streetcard {
  width: 100%;
  max-width: 638px;
  height: 120px;
  background: #353535;
  transform-style: preserve-3d;
  transform: perspective(30rem) rotateX(30deg);
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.streetcard::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #fff 70%,
    #353535 70%,
    #353535 100%
  );
  background-size: 120px;
  animation: animateRoad 1s linear infinite;
}
@keyframes animateRoad {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 120px;
  }
}

.streetcard::after {
  content: "";
  width: 100%;
  max-width: 638px;
  height: 20px;
  position: absolute;
  bottom: -20px;
  background-color: #272727;
  transform-origin: top;
  transform: perspective(30rem) rotateX(-30deg);
  box-shadow: 0 10px 20px -2px #272727;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.streetshadow {
  color: #fff;
  padding: 10px;
  letter-spacing: 1px;
}







